<ds-data-table variant="card" empty="false" mobile="false">
    <table slot="card">
        <thead>
            <tr>
                <td>Carrera</td>
                <td>Años</td>
                <td>Plazo máximo del crédito (NX3)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-mobile="" data-first="" data-mobile-width="100%">Carrera universitaria</td>
                <td data-desktop="">Universitaria</td>
                <td data-mobile="" data-mobile-width="66%" data-border-none="">Años</td>
                <td data-mobile-width="33%" data-border-none="">5</td>
                <td data-mobile="" data-mobile-width="66%">Plazo máximo del crédito (NX3)</td>
                <td data-mobile-width="33%">15 años</td>
            </tr>
            <tr>
                <td data-first="" data-mobile-width="100%">Tecnico profesional I.P</td>
                <td data-mobile="" data-mobile-width="66%" data-border-none="">Años</td>
                <td data-mobile-width="33%" data-border-none="">4</td>
                <td data-mobile="" data-mobile-width="66%">Plazo máximo del crédito (NX3)</td>
                <td data-mobile-width="33%">12 años</td>
            </tr>
            <tr>
                <td data-first="" data-mobile-width="100%">Tecnico, CFT</td>
                <td data-mobile="" data-mobile-width="66%" data-border-none="">Años</td>
                <td data-mobile-width="33%" data-border-none="">3</td>
                <td data-mobile="" data-mobile-width="66%">Plazo máximo del crédito (NX3)</td>
                <td data-mobile-width="33%">9 años</td>
            </tr>
        </tbody>
    </table>
    <span slot="title">
        Lorem ipsum dolor sit amet, consectetur.
    </span>
    <span slot="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere vestibulum in duis scelerisque vitae eget.
    </span>
    <div slot="footer">
        <ds-button variant="primario" behaviour="fijo">
            Hacer algo
        </ds-button>
    </div>
</ds-data-table>