<div id="ejemplo-tabs">
    <ds-tabs>
      <ds-tab slot="tab" value="1" label="Tab 1"  active>
          <div slot="icon">
              <ds-icon size="s4" icon-name="store_mall_directory"></ds-icon>
          </div>
      </ds-tab>
      <ds-tab slot="tab" value="2" label="Tab 2">
          <div slot="icon">
              <ds-icon size="s4" icon-name="ccla-icon-11"></ds-icon>
          </div>
      </ds-tab>
      <ds-tab slot="tab" value="3" label="Tab 3">
          <div slot="icon">
              <ds-icon size="s4" icon-name="account_balance"></ds-icon>
          </div>
      </ds-tab>
      <ds-tab slot="tab" value="4" label="Tab 4">
          <div slot="icon">
              <ds-icon size="s4" icon-name="ccla-icon-19"></ds-icon>
          </div>
      </ds-tab>
    </ds-tabs>
    
    <div id="tabs-content">
      <div class="tab-content" data-tab-content="1" style="display: block;"><h1>Contenido tab 1</h1></div>
      <div class="tab-content" data-tab-content="2" style="display: none;"><h1>Contenido tab 2</h1></div>
      <div class="tab-content" data-tab-content="3" style="display: none;"><h1>Contenido tab 3</h1></div>
      <div class="tab-content" data-tab-content="4" style="display: none;"><h1>Contenido tab 4</h1></div>
    </div>
  </div>
